<div class="socialFieds">
    <label for="socialName">name</label>
    <input type="text" value="<%= soc.name %>" name="socialName[]" id="socialName">
    <label for="value">value</label>
    <input type="text" value="<%= soc.value %>" name="value[]" id="value">
    <div class="removeSocial-js">-</div>
</div>
