<header>
    <nav>
        <ul>
            <li><a href="/about">apropos</a></li>
            <li><a href="/portfolio">porfolio</a></li>
            <li><a href="/resume">resume</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/">home</a></li>
        </ul>
    </nav>
</header>