<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/admin/portfolio">Portfolio</a>
    <a href="/admin/skils">Skils</a>
  </body>
</html>
